<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilosc++.css"> 
    <title>Proyecto C++</title>
</head>
<body>
    <div class="contenedorCMAS1" >
        <img src="/img/c++ (1).png" alt="" />
        
        <p class="text1" >Este fue uno de mis primero proyectos, que se basa en sistema educativo y creativo
            en la cual, se basa en la geograía de mi Bella Guatemala. Cuenta con barios botones de aprendizaje y cada uno con 
            diferente temario de aprendizaje.
        </p>
        <a href="/">Regresar...</a>
    </div>

    <div class="contenedorCMAS2" >
        <img src="/img/c++ (2).png" alt="" /><br>
        <br>
        <br>
        <br>
        
        <p class="text2" >En el menú tambien tenemos lo que es un apartado de regiones y en esta parte del sistema nos muesta
            barios botones que al precionar los mismos nos despliega la información que contiene cada uno, a la vez esto 
            se realizo a travez de un protoboard en la cual se realizó una maqueta y al precionar alguna región se muestra por medio
            de leds que departamentos pertenecen a tal región, esto es muy útil para un maestro a la hora de enseñar a sus alumnos.
        </p>
    </div>
    
    <div class="contenedorCMAS3" >
        <img src="/img/c++ (3).png" alt="" />
        
        <p class="text3" >El sistema también cuenta con un apartado de los departamentos, al entrar nos muestra un menú de todos los 
            departamentos de Guatemala. Y cada departamento es un boton que nos lleva a una información específica para cada departamento.
        </p>
    </div>
    
    <div class="contenedorCMAS4" >
        <img src="/img/c++ (4).png" alt="" /><br>
        <br>
        <br>
        <br>
        
        <p class="text4" >En cada boton de los departamentos despliega un apartado que contiene información muy importante de cada
            departamento como por ejemplo: la cantidad de minicipios que tiene, la información general, y sus costrumbres y tradiciones.
        </p>
    </div>
  
</body>
</html>