<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estiloscsharp.css"> 
    <title>Proyecto C++</title>
</head>
<body>
   
    <div class="contenedorCSHARP" >
        <img src="/img/csharp.png" alt="" /><br>
        <br>
        <br>
        <br>
        
        <p class="text1" >Este proyecto se realizo en C#, su funcionamiento se basa en un compilador que en programación lo conocemos
            como un traductor de lenguaje, este programa esta diseñado para traducir un lenguaje creado por uno mismo y que sea 
            capaz de traducirlo al lenguaje de c++ a la vez nos tira información sobre los errores semanticos, sintacticos y, errores
            lexicos, asi como avisos para poder corregir si ubiese algún error.
            <br><br>
       
        </p>
        <a href="/">Regresar...</a>
    </div>
</body>
</html>