<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilosjava.css"> 
    <title>Proyecto en Java</title>
</head>
<body>
   
    <div class="contenedorjava" >
        <img src="/img/java.png" alt="" /><br>
        <br>
        <br>
        <br>
        
        <p class="text1" >En este proyecto se realizó una aplicación en en el programa de Android Studio. La aplicación cuenta
            con la funcionalidad de un login, y su funcion principal es la de realizar una llamado a una base de datos local
            des de un servidor local e ingresar los datos que solicita.
        </p>
        <a href="/">Regresar...</a>
    </div>
</body>
</html>