<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilosjavascript.css"> 
    <title>Proyecto en JavaScript</title>
</head>
<body>
   
    <div class="contenedorjava" >
        <img src="/img/JavaScript.png" alt="" /><br>
        <br>
        <br>
        <br>
        
        <p class="text1" >En este proyecto se implementó un sistema funcional en la nube a un negocio que comercializa lechones,
            su nombre es " Agropecuaria Cali", la cual se optimizó la forma en la cual el llevaba su control de ingresos y egresos
            de lechones, ahora lo hace de manera digital y con sus reportes al día.
        </p>
        <a href="/">Regresar...</a>
    </div>
<br><br>
    <div class="contenedorjava" >
        <img src="/img/JavasCript1.png" alt="" /><br>
        <br>
        <br>
        <br>
        
        <p class="text1" >Se realizaron multiples arreglos esto con el fin de tener enlazados todos los datos que el cliente
            quería y necesitaba obtener.
        </p>
       
    </div>
<br><br>
    <div class="contenedorjava" >
        <img src="/img/JavasCript2.JPEG" alt="" /><br>
        <br>
        <br>
        <br>
        
        <p class="text1" >También, se desarrollo el mismo sistema a nivel responsive esto con la finalidad que el cliente tenga 
            su formato de ingresos de datos desde su celular y para que no tenga que llevar la computadora a su centro de trabajo.
        </p>
   
    </div>
</body>
</html>